html {
    background-image: url(background.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.error {
    text-align: center;
    position: static;

}

p {
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    font-size: 25;
    color: rgb(235, 243, 187);
}


img {
    transition: transform .1s;
}

img:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.redirect {
    position: relative;
    text-align: center;
    top: -7em;

}